
TrabalhoFinal2RV1/TrabalhoFinal2/test.py
TrabalhoFinal2RV1/TrabalhoFinal2/templates/index.html.bak
TrabalhoFinal2RV1/TrabalhoFinal2/templates/index.html
TrabalhoFinal2RV1/TrabalhoFinal2/app.py
TrabalhoFinal2RV1/TrabalhoFinal2/__pycache__/test.cpython-310.pyc
TrabalhoFinal2RV1/TrabalhoFinal2/__pycache__/app.cpython-310.pyc
Semana09/web/test.db
Semana9/socialmedia/__pycache__/app.cpython-310.pyc
Semana9/socialmedia/__pycache__/models.cpython-310.pyc
Semana9/socialmedia/app.py
Semana9/socialmedia/database.db
Semana9/socialmedia/models.py
Semana9/socialmedia/schema.sql
Semana9/socialmedia/templates/index.html
Semana9/web/__pycache__/app.cpython-310.pyc
Semana9/web/app.py
Semana9/web/requirements.txt
Semana9/web/static/css/main.css
Semana9/web/templates/base.html
Semana9/web/templates/index.html
Semana9/web/templates/update.html
Semana9/web/test.db
Semana09/web/test.db
